main button {
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee", cursive;
}



.counter {
  font-family: "Bungee", cursive;
}



main textarea {
  background: none;
  border: none;
  font-weight: bold;
  border-bottom: 4px solid;
}



main section .tweet-class-counter {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}



.warning {
  color: red;
}



.warning-1, .warning-2{
  color: red;
  display: none;
  margin-bottom: 10px;
}






/* Created tweets ::   /////////////////////////////////////// */
/* (Classes inside my client.js file) */


/* Styles for the tweet that made through Ajax :: */
.created-tweet {
  border: solid black;
  padding: 20px;
  margin: 2rem 6rem;
}


/* Header   /////////////////////////////////////////*/
/* Each Tweet top right tag :: */
.icon-header-email {
  display: flex;
  justify-content: space-between;
}


/* Tweet username top left :: */
.icon-header {
  padding-bottom: 40px;
  display: flex;
}



.icon-header header {
  padding: 0 10px;
}



.icon-header-email span {
  font-weight: 600;
  color: rgba(211, 207, 207, 0.74);
}



/* Article   /////////////////////////////////////////*/
.created-tweet article {
  font-size: large;
  font-weight: 600;
  word-wrap: break-word;
}



.created-tweet hr {
  position: relative;
  top: 20px;
  border: none;
  height: 3px;
  background: black;
  margin-bottom: 50px;
}



/* Footer   /////////////////////////////////////////*/
.icon-footer {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  font-weight: bold;
}



.icon-footer div {
  color: #4056a1;
}



.icon-footer div :hover{
  color: rgba(194, 126, 0, 0.808);
}
